@media only screen and (max-width: 1055px) {
    #banner{
        padding: 4em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 5em;
    }
    #banner button{
        padding: 1em 3em;
        margin: 1.5em;
    }
}
@media only screen and (max-width: 868px) {
    #banner{
        padding: 3em 3em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 4em;
    }
    #blogBottomRight{
        display: none;
    }
}
@media only screen and (max-width: 655px) {
    #banner{
        padding: 1em 2em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 3em;
    }
}
@media only screen and (max-width: 486px) {
    #banner{
        padding: 2em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 2em;
    }
    #banner button{
        padding: 0.5em 1.5em;
        margin: 1em;
    }
}
@media only screen and (max-width: 400px) {
    #banner{
        padding: 1em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 2em;
    }
    #banner button{
        padding: 0.5em 1.5em;
        margin: 1em;
    }
}
@media only screen and (max-width: 400px) {
    #banner{
        padding: 0.5em 1em;
    }
    #banner h1{
    color: white;
    font-family: 'ubuntu-light';
    font-size: 2em;
    }
    #banner button{
        padding: 0.5em 1.5em;
        margin: 1em;
        font-size: 0.75em;
    }
    #banner-bottom-wrapper{
        margin-top: 1em;
        padding: 0;
    }
    #app-right-container li a{
        font-size: 0.5em;
    }
    #blog-button {
        font-size: 1em;
        padding: 0.75em 1.2em;
    }
    #blogBottomSce ul{
        margin: 0;
        padding: 0;
    }
    #blog-bottom-section-icon{
        font-size: 0.5em;
    }
    #blog-bottom-section-number{
        font-size: 1.3em;
    }
    #blog-bottom-section-text{
        font-size: 0.5em; 
    }
    #blogBottomRight{
        display: none;
    }
    #footer-container h2{
        font-size: 1.3em;
        margin-top: 0.75em;
    }
    #footer-container h2 span{
        display: none;
    }
}